

  <div class="page-header">
    <h1>Generate CSV's from Rest API</h1>
  </div>
  <p class="lead">
    This application makes GET calls to the <a href="http://jsonplaceholder.typicode.com/posts" target="_blank">JSON Placeholder site</a>
    and formats the results of the calls into resource pages.  The resource pages (shown in the navigation bar) can all be output to CSV.
  </p>
  <p class="lead">
    For the assignment results browse to <%= link_to "Combined Posts & Users", combined_resources_path %> and export the results to CSV.
  </p>



